{% extends 'admin/change_form.html' %}

{% block submit_buttons_bottom %}

  {% for fsm_object_transition in fsm_object_transitions %}
      <div class="submit-row">
        <label>Transition ({{ fsm_object_transition.fsm_field }})</label>
        {% for transition in fsm_object_transition.available_transitions %}
        <button type="submit" class="button" name="_fsm_transition_to" value="{{ transition.name }}">
          {{ transition.custom.label|default:transition.name }}
        </button>
        {% endfor %}
      </div>
  {% endfor %}

  {{ block.super }}
{% endblock %}
