{% extends 'admin/change_form.html' %}
{% load i18n admin_urls static admin_modify unfold %}

{% block submit_buttons_bottom %}

  {% for fsm_object_transition in fsm_object_transitions %}
    <div id="submit-row" class="relative lg:sticky lg:bottom-0 z-40">
      <div class="backdrop-blur-xs bg-white/80 rounded-b-default pb-4 px-4 dark:bg-base-900/80 lg:border-t lg:border-base-200 relative lg:scrollable-top lg:py-0 dark:border-base-800">
        <div class="flex flex-col gap-3 items-center mx-auto lg:flex-row container lg:h-[64px]">

          <label>{{ fsm_object_transition.block_label }}</label>
          {% for transition in fsm_object_transition.available_transitions %}
            {% include "django_fsm/fsm_transition_button.html" with transition=transition %}
          {% endfor %}
        </div>
      </div>
    </div>
  {% endfor %}

  {{ block.super }}
{% endblock %}
