name: Coverage

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  coverage:
    name: Check coverage
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v5

      - name: Set up Python 3.13
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          enable-cache: true

      - name: Install requirements
        run: uv sync

      - name: Run tests
        run: uv run coverage run -m pytest --cov=django_fsm --cov-report=xml

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
